#availableCard {
    margin: 5px;
    height: auto;
}

#growingCard {
    margin: 5px;
    height: auto;
}

img {
    border-radius: 8px;
    width: 250px;
    height: 150px;
}

.headStrip {
    background: rgba(76, 175, 80, 0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.cropsColumn {
    background: rgba(189, 194, 96, 0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.messagesColumn {
    background: rgba(164, 152, 57, 0.3);
    min-height: 200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

