/* .top-bar {
    justify-content: center;
    align-items: center;
}
.user-information{
    border: 2px black solid;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 20vh;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.banner {
    display: flex;
    flex-direction: row;
}
.profile-name {
    font-size: 3rem;
    background-color: #fbf9f973;
    border-radius: 20px;
    padding: 10px;
    width: 100vw;
    margin: 0px;
    text-align: center;
    color: red;
}
 */
