.top-bar {
    /* border: black solid 2px; */
    justify-content: center;
    align-items: center;
}
.users-container{
    width: 100vw;
    height: 100vh;
    margin-bottom: 15px;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.banner h1 {
    font-size: 3rem;
    background-color: #fbf9f973;
    border-radius: 20px;
    padding: 50px;
    width: 100vw;
    margin: 0px;
    text-align: center;
}

