.userCard {
    width: 350px;
    height: 425px;
    margin: 40px;
}

.image-container  {
    width: 350px;
    height: 250px ;
    align-items: center;
    justify-content: center;
}
.card-img {
    border: 2px solid black;
    height: 100%;
    width: 100%;
}


.crop-details {
    background-color: rgb(163, 226, 163);
    border-radius: 20px;
    margin: 9px; 
    padding-left: 3px;
    padding-right: 3px;
}

#extra-options {
    background-color:	#ffc107;
    border-radius: 20px;
}

.user-button {
    margin: 7px;
}