.card {
    width: 375px !important;
    height: 375px !important;
    margin: 40px !important;
}
.image-container  {
    /* background-color: orange; */
    width: 375px !important; 
    height: 275px !important;
    align-items: center;
    justify-content: center;
}
.card-img {
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

/* .card-body {
   width: 100px;
   height: 100px;
} */

.crop-details {
    background-color: rgb(163, 226, 163);
    border-radius: 20px;
}

/* .user-button {
    margin: 7px;
} */